<br/>
Select User:
<form action="show_ratings" method="post">
  <select name="selected_user">
    <option></option>
    <%= options_from_collection_for_select(@rating_users, 'id', 'login') -%>
  </select> 
  <input type="submit" value="Show Ratings">
</form>

