<h3>Ratings for user <%= @user.login -%></h3>
<table>
  <tr>
    <th>Restaurant</th>
    <th>Rating</th>
  </tr>
  <% for rating in @ratings -%>
    <tr>
      <td><%= rating.restaurant.name -%></td>
      <td><%= "*" * (rating.rating.nil? ? 0 : rating.rating) -%></td>
    </tr>
  <% end %>
</table>
<%= link_to "Back", { :action => 'show_users' } -%>
