<h3>Who is going to lunch today?</h3>
<form action="calculate_restaurant" method="post">
  <label>Type</label>
  <select name="selected_restaurant_type">
    <option value="Any" selected="selected">Any</option>
    <% for @type in @types %>
      <option value="<%=h @type -%>"><%=h @type -%></option>
    <% end %>
  </select>
  <br/>
  <table>
  <% for @user in @users %>
    <tr>
      <td><%= check_box 'user[]', 'going_to_lunch', {}, true, false -%></td>
      <td><%= @user.login -%></td>
    </tr>
  <% end %>
  </table>
  <br/>
  <input type="submit" value="Calculate Restaurant (Not coded yet)">
</form>
