<h3>Account</h3>
<p>
  <ul class="arrow_list">
    <li><%= link_to "Login", login_path -%></li>
    <li><%= link_to "Signup", signup_path -%></li>
  </ul>
</p>

<h3>Group</h3>
<p>
  Sign up for an account and then you can join a group!
</p>

<h3>Restaurants</h3>
<p>
  After you join a group, you can add restaurants in the group's area.  Then, rate your group's restaurants.
</p>

